* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightblue;
    color: navy;
}

h1 {
    font-size: 40px;
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    input {
        height: 20px;
        width: 200px;
    }

    button {
        height: 25px;
        width: 50px;
        margin-left: 10px;
    }

    .form {
        display: flex;
        justify-content: space-evenly;
    }

    .score p {
        font-size: 30px;
    }
}

#container {
    position: relative;
    width: 1000px;
    height: 600px;
}

.state {
    fill: white;
}

.state:hover {
    cursor: pointer;
    fill: lightgrey;
}
